.no-calendar {
  position: relative;
  width: 98px;
  background: transparent;
}

.no-calendar::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
